.draggable {
    /* width:150px;
    height:150px; */
    /* padding:0.5em;
	border:1px solid; */
	display: inline-block;
}

.spring,.summer,.autumn,.winter{
	display: inline-block;
	width:69px;
	height:112px;
	padding:0.5em;
	border:solid 2px #2196f3;
    flex:1;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
/* .spring {
    background-image: url(./img/spring.png);
}
.summer {
    background-image: url(./img/summer.png);
}
.autumn {
    background-image: url(./img/autumn.png);
}
.winter {
    background-image: url(./img/winter.png);
} */
.player_list,.member_list{
	/* width:200px;
	height:400px; */
	padding:0.5em;
	border:solid 2px #2196f3;
	/* display:inline-block; */
}

#group {
    display: flex;
    box-shadow: 1px 1px 10px 5px #888888;
}

body {
	padding: 100px;
    -webkit-font-smoothing: antialiased;
    background-color: #212121
}
  
input {
	background: none;
	color: #2196f3;
	padding: 7px 20px;
	font-size: 15px;
	display: inline-block;
}
#compute p {
	background: none;
	color: #2196f3;
	/* padding: 15px 40px; */
	font-size: 15px;
	display: inline-block;
}
#meijuanpai p{
	color: #2196f3;
	padding: 15px 40px;
	font-size: 15px;
	display: block;
}
#meijuanpai {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 10px 5px #888888;
}

#meijuanpai td, #meijuanpai th {
    border: 1px solid #303030;
    padding: 8px;
}

#meijuanpai tr{
    background-color: #212121;
    color: #2196f3
}

#meijuanpai tr:hover {background-color: #303030;}

#meijuanpai th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2196f3;
    color: white;
}

input:focus, input:active {
	outline: none;
}

input[type="text"], input[type="email"] {
	border: none;
	border-bottom: solid 2px #2196f3;
}

input[type="submit"]:active {
	color: white;
	background: #2196f3;
}

.input-group {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.input-group input {
	padding: 15px 0px;
}

.input-group label {
	position: absolute;
	top: 50%;
	left: 0px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
	font-style: italic;
	font-size: 16px;
	color: #999;
	pointer-events: none;
	transition: all 0.15s ease-out 0s;
}
.input-group input:focus + label,
.input-group input.has-value + label {
	top: -10px;
	font-size: 12px;
	color: #aaa;
}

.name-label {
    background-color: #212121; /* bronze */
    /* background-origin: padding-box; */
    border:2px solid #2196f3;
    /* box-shadow: 10px 10px 5px #888888; */
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.name-label hover {
    background-color: #303030;
}
